<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('meta') %>
        <meta name="description"
            content="WebPilot provides fast AI search and quality writing tools. Also offers APIs, GPTs support, and browser extensions for better content creation and easy use.">
        <meta name="keywords" content="WebPilot, AI, Search, Write">
        <title>WebPilot Article Portal</title>
        <link rel="stylesheet" href="/styles.css">
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f0f0f0;
            }

            main .index-title {
                margin: 10px;
                margin-top: 30px;
                padding: 10px;
                background-color: #fff;
                text-align: center;
            }

            main ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                list-style-type: none;
                padding: 0;
            }

            @media (width < 768px) {
                main ul {
                    grid-template-columns: 1fr;
                }
            }

            main li {
                position: relative;
                box-sizing: border-box;
                margin: 10px;
                padding: 20px;
                height: 150px;
                background-color: white;
                border-radius: 4px;
                box-sizing: border-box;
                transition: box-shadow 0.3s;
                border-bottom: 8px solid #ADADAD;
            }

            main li:nth-child(4n+1) {
                border-bottom-color: #FDF322;
            }

            main li:nth-child(4n+2) {
                border-bottom-color: #FF985E;
            }

            main li:nth-child(4n+3) {
                border-bottom-color: #79ED58
            }

            main li:nth-child(4n) {
                border-bottom-color: #6A85FF
            }

            main li:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            main li a {
                display: inline-block;
                height: 120px;
                width: 100%;
                text-decoration: none;
                color: black;
            }


            main li .pick .title {
                font-weight: 700;
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            main li .pick .snippet {
                margin-top: 10px;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            main li .pick .footer {
                position: absolute;
                bottom: 10px;
                width: calc(100% - 40px);
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                font-size: 12px;
                box-sizing: border-box;
                color: #ADADAD;
            }

            footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 60px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 1px 0px 4px 0 rgba(0, 0, 0, 0.1);
            }
        </style>
</head>

<body>
    <%- include('header') %>
        <main>
            <h1 class="index-title">
                <%= __('page.home.hot') %>
            </h1>
            <ul>
                <% articles.forEach(function(article){ %>
                    <li>
                        <a class="pick" href="https://www.webpilot.ai/writeDetail/<%= article.id %>">
                            <div class="title">
                                <%= article.title %>
                            </div>
                            <div class="snippet">
                                <%= article.snippet %>...
                            </div>
                            <div class="footer">
                                <div>
                                    <%= article.character_num %>
                                </div>
                                <div>
                                    <%= article.create_time %>
                                </div>
                            </div>
                        </a>
                    </li>
                    <% }); %>
            </ul>
            <div style="text-align: center">
                <a id="more-link" href="/?page=1">More ...</a>
            </div>
        </main>
        <footer>
            <a href="https://discord.gg/x5ApBp3Mbh" target="_blank"><img src="/discord.svg"></a>
        </footer>
</body>

<script>
    var urlParams = new URLSearchParams(window.location.search);
    var page = Number(urlParams.get('page')) || 1;
    document.getElementById('more-link').addEventListener('click', function (e) {
        e.preventDefault();
        page++;
        this.href = '/?page=' + page;
        window.location.href = this.href;
    });
</script>

</html>